@import "tailwindcss";

/* --- 1. DEFINICIÓN DE @FONT-FACE --- */

@font-face {
  font-family: "Raaf";
  src: url("./assets/fonts/Maax-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raaf";
  src: url("./assets/fonts/Maax-Mediumitalic.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ballpoint";
  src: url("./assets/fonts/Ballpoint-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* --- 2. CONFIGURACIÓN DEL TEMA TAILWIND V4 --- */

@theme {
  /* Tipografías */
  --font-brand-sans: "Raaf", ui-sans-serif, system-ui;
  --font-brand-script: "Ballpoint", cursive;

  /* Colores Oficiales (PDF) */
  --color-brand-clay: #f8531b;
  --color-brand-black: #000000;
  --color-brand-beige: #f5f5dc;
  --color-brand-sand: #ab9075
}

.perspective-1000 {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
